kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: default
  name: alkemio-file-service-deployment
  labels:
    app: alkemio-file-service

spec:
  replicas: 1
  selector:
    matchLabels:
      app: alkemio-file-service
  template:
    metadata:
      labels:
        app: alkemio-file-service
    spec:
      containers:
        - name: alkemio-file-service
          image: rg.nl-ams.scw.cloud/alkemio/alkemio-file-service:latest
          env:
            - name: RABBITMQ_HOST
              valueFrom:
                secretKeyRef:
                  name: alkemio-rabbitmq-cluster-default-user
                  key: host
            - name: RABBITMQ_PORT
              valueFrom:
                secretKeyRef:
                  name: alkemio-rabbitmq-cluster-default-user
                  key: port
            - name: RABBITMQ_USER
              valueFrom:
                secretKeyRef:
                  name: alkemio-rabbitmq-cluster-default-user
                  key: username
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: alkemio-rabbitmq-cluster-default-user
                  key: password
          envFrom:
            - secretRef:
                name: alkemio-secrets
            - configMapRef:
                name: alkemio-config
          volumeMounts:
            - name: file-storage
              mountPath: /storage
              readOnly: true
      volumes:
        - name: file-storage
          persistentVolumeClaim:
            claimName: file-storage-pvc2
            readOnly: true

